n8n-local/My_workflow_sse.json
{
  "name": "My workflow SSE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -80
      ],
      "id": "b1f80ee0-6f35-426c-b6cc-b98d70e91601",
      "name": "Webhook Start",
      "webhookId": "workflow-start"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst now = new Date().toISOString();\nconst idPart = Math.random().toString(16).slice(2, 10);\nconst jobId = `job_${Date.now()}_${idPart}`;\nconst mode = body.mode === 'standard' ? 'standard' : 'default';\n\nconst topic = typeof body.topic === 'string' && body.topic.trim()\n  ? body.topic.trim()\n  : (typeof body.prompt === 'string' ? body.prompt.trim() : '');\n\nconst requirements = Array.isArray(body.requirements)\n  ? body.requirements.filter((v) => typeof v === 'string' && v.trim()).map((v) => v.trim())\n  : [];\n\nconst payload = {\n  topic,\n  requirements,\n  page_size: Number(body.page_size ?? 15),\n  sort: typeof body.sort === 'string' && body.sort ? body.sort : 'general'\n};\n\nconst store = getWorkflowStaticData('global');\nstore[jobId] = {\n  jobId,\n  status: 'running',\n  progress: 10,\n  message: '任务已创建，等待执行',\n  mode,\n  createdAt: now,\n  updatedAt: now,\n  input: body\n};\n\nreturn [{\n  json: {\n    jobId,\n    mode,\n    payload,\n    autoImage: !!body.autoImage,\n    prompt: body.prompt ?? ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -80
      ],
      "id": "f8a6eeef-cbaf-4870-8923-875a5442f502",
      "name": "Init Job"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { jobId: $json.jobId, accepted: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -80,
        -200
      ],
      "id": "5f020d6a-7a7a-402e-b257-f93e203721f6",
      "name": "Respond Start"
    },
    {
      "parameters": {
        "jsCode": "const { jobId, payload } = $json;\nconst store = getWorkflowStaticData('global');\n\nif (!jobId) {\n  return [{ json: { ok: false, error: 'missing jobId' } }];\n}\n\nstore[jobId] = {\n  ...(store[jobId] ?? {}),\n  status: 'running',\n  progress: 30,\n  message: '正在请求 Python 服务',\n  updatedAt: new Date().toISOString()\n};\n\ntry {\n  const res = await fetch('http://127.0.0.1:8001/search/poll', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n\n  const raw = await res.text();\n  let data;\n  try {\n    data = JSON.parse(raw);\n  } catch {\n    data = { raw };\n  }\n\n  if (!res.ok) {\n    store[jobId] = {\n      ...(store[jobId] ?? {}),\n      status: 'failed',\n      progress: 100,\n      error: `Python 服务失败(${res.status})`,\n      message: '下游服务返回错误',\n      result: data,\n      updatedAt: new Date().toISOString()\n    };\n    return [{ json: { ok: false, jobId, result: data } }];\n  }\n\n  store[jobId] = {\n    ...(store[jobId] ?? {}),\n    status: 'done',\n    progress: 100,\n    message: '任务完成',\n    result: data,\n    updatedAt: new Date().toISOString()\n  };\n\n  return [{ json: { ok: true, jobId, result: data } }];\n} catch (error) {\n  const message = error instanceof Error ? error.message : 'unknown error';\n  store[jobId] = {\n    ...(store[jobId] ?? {}),\n    status: 'failed',\n    progress: 100,\n    error: message,\n    message: '执行失败',\n    updatedAt: new Date().toISOString()\n  };\n  return [{ json: { ok: false, jobId, error: message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        40
      ],
      "id": "a26bb2c6-dc5d-4f09-abdb-0236af56b1f2",
      "name": "Run Python Task"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "workflow-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        260
      ],
      "id": "39b31dfb-cf3f-4f1b-9000-6b6fd646cda6",
      "name": "Webhook Status",
      "webhookId": "workflow-status"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\nconst jobId = String(query.jobId ?? '').trim();\nconst store = getWorkflowStaticData('global');\n\nif (!jobId) {\n  return [{\n    json: {\n      jobId: '',\n      status: 'failed',\n      error: '缺少 jobId'\n    }\n  }];\n}\n\nconst hit = store[jobId];\nif (!hit) {\n  return [{\n    json: {\n      jobId,\n      status: 'pending',\n      progress: 0,\n      message: '任务不存在或尚未初始化'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    jobId,\n    status: hit.status ?? 'pending',\n    progress: hit.progress ?? 0,\n    message: hit.message ?? '',\n    result: hit.result,\n    error: hit.error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        260
      ],
      "id": "6eb11f29-11e4-44c9-9b99-66e30fe2ed50",
      "name": "Read Job Status"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -80,
        260
      ],
      "id": "7cb00f74-f067-46c8-9088-ef6b69f85b2d",
      "name": "Respond Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Init Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Job": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Python Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Status": {
      "main": [
        [
          {
            "node": "Read Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Job Status": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b4d2ea2-cc08-4bdd-95f3-d8afee592701",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
